@use "tailwindcss";

// html, body {
//     overflow: hidden;
// }

.btn {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-3 rounded-lg transition-colors duration-300;
  cursor: pointer;
}
